@using Newtonsoft.Json
@model Recipe.Central.Models.Recipe.RecipeDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<div ng-app="recipe.app">
    <div ng-include="'@Url.Content("~/AppJS/recipe/edit/recipe-edit.html")'" ng-controller="RecipeEditCtrl">
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs/recipe")

}
