<form name="form" *ngIf="model" method="post">
  <div class="form-horizontal">
      <hr />
      <div *ngIf="error" class="alert alert-danger" role="alert">
          {{error}}
      </div>
      <div class="form-group">
          <label for="name">Recipe Name</label>
          <input type="text" name="name" class="form-control" (model)="model.name" required />
      </div>

      <div class="clearfix">
          <div class="form-group clearfix">
              <label for="ingredients">Ingredients</label>
              <ul name="ingredients" class="list-group">
                  <li class="list-group-item" *ngFor="let ingredient of model.ingredients">
                      <rc-editable-list-item [text]="ingredient" editorSize="sm"></rc-editable-list-item>
                  </li>
              </ul>
          </div>
          <textarea name="newIngredient" class="new-ingredient-textarea" wrap="soft" [(ngModel)]="newIngredient"></textarea>
          <button class="btn btn-default btn-sm rounded-circle float-right bg-primary text-white" (click)="addIngredient()">
              <i class="fa fa-plus"></i>
          </button>
      </div>

      <div class="clearfix">
          <div class="form-group">
              <label for="steps">Steps</label>
              <ul name="steps" class="list-group">
                  <li class="list-group-item" *ngFor="let step of model.steps">
                      <rc-editable-list-item [text]="step" editor-size="lg"></rc-editable-list-item>
                  </li>
              </ul>
          </div>
          <textarea name="newStep" class="new-step-textarea" wrap="soft" [(ngModel)]="newStep"></textarea>
          <button class="btn btn-default btn-sm rounded-circle float-right bg-primary text-white" (click)="addStep()">
              <i class="fa fa-plus"></i>
          </button>
      </div>

      <button class="btn btn-default" (click)="submit()">Save</button>
  </div>
</form>